<div class="max-w" style="--max-w: 64">
  <ul class="uk-tab-alt" data-uk-switcher="connect: .wizard; swiping: false">
    <li class="uk-active">
      <a href="#">
        <uk-icon class="mr size" style="--mr: 2; --size: 4" icon="globe"
        ></uk-icon>
        <span class=""> CDN </span>
      </a>
    </li>
    <li>
      <a href="#">
        <uk-icon class="mr size" style="--mr: 2; --size: 4" icon="box"
        ></uk-icon>
        <span class="">Bundler</span>
      </a>
    </li>
  </ul>
</div>
