---
const { version = "latest" } = Astro.props;
---

<div
  class="mt display-grid grid-cols gap"
  style="--mt: 6; --grid-cols: 2; --gap: 4"
>
  <a
    class="chart-card uk-focus-visible uk-shadow uk-rounded"
    href={`/docs/${version}/kit/chart-area`}
  >
    <uk-icon class="size" style="--size: 11" size="44" icon="chart-area"
    ></uk-icon>
    <p class="mt font-medium" style="--mt: 2">Area Chart</p>
  </a>
  <a
    class="chart-card uk-focus-visible uk-shadow uk-rounded"
    href={`/docs/${version}/kit/chart-line`}
  >
    <uk-icon class="size" style="--size: 11" size="44" icon="chart-line"
    ></uk-icon>
    <p class="mt font-medium" style="--mt: 2">Line Chart</p>
  </a>
</div>
